﻿<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="description" content="NBA Stats" />
	<meta name="author" content=", Simeon Solenthaler, Gian Stäuble, Cédric Carrel, Flurin Boeni" />
	<meta name="keywords" content="NBA, Stats, Digital Business Management" />
	<meta name="date" content="21.03.2021" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css" />

	<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<title>STAT GURU by oktofinance</title>
</head>

<body>
	<div class="header"></div>
	<div class="wrapper">
		<div class="container_title">
			<h1 id="title">STAT GURU</h1>
		</div>
		<div class="container_diagram">
			<div class="filter-wrapper">
				<div class="filter-player">
					<div class="filter">
						<button class="dropdownbutton">Team</button>
						<div class="dropdown-content-team" id="teams-dropdown"> 
						</div>
					</div>
				<div class="filter">
					<button class="dropdownbutton">Player 1</button>
					<div class="dropdown-content" id="players-dropdown">
					</div>
				</div>
			</div>
				<div class="filter-player">
					<div class="filter">
						<button class="dropdownbutton">Team</button>
						<div class="dropdown-content-team" id="teams2-dropdown">
						</div>
					</div>
					<div class="filter">
						<button class="dropdownbutton">Player 2</button>
						<div class="dropdown-content" id="players2-dropdown">
						</div>
					</div>
				</div>
			</div>
			<!--<div class="chart">
				<img src="../static/media/screenshot.JPG">
				Google Charts zur Visualisierung der Daten
				<div id="piechart"></div>
			</div>-->
		</div>

		<div class="wrapper-player">
			<!--<div class="container-picture">
				<div id="picture"></div>
			</div>-->
			<div class="container-player1">
				<div class="logo-team1">
					<p id="division1"></p>
				</div>
				<div class="container-details1">
					<div class="container-number-player1">
						<p id="position1"></p>
					</div>
					<div class="container-name-player1">
						<p id="player_name"></p>
						<p id="team"></p>
					</div>
				</div>
				<div>
					<canvas id="player1chart"></canvas>
				</div>
			</div>

			<div class="container-vs">
				<h1>VS</h1>
			</div>

			<div class="container-player2">
				<div class="logo-team2">
					<p id="division2"></p>
				</div>
				<div class="container-details2">
					<div class="container-number-player2">
						<p id="position2"></p>
					</div>
					<div class="container-name-player2">
						<p id="player2_name"></p>
						<p id="team2"></p>
					</div>
				</div>
				<div>
					<canvas id="player2chart"></canvas>
				</div>
			</div>

		</div>

		<!--<div class="container-picture">
			<div id="picture"></div>
		</div>-->
	</div>

	<footer>
		
	</footer>
	<script src= "{{ url_for('static', filename='js/index.js') }}"></script> 

</body>
</html>