<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="NBA Stats">
    <meta name="author" content=", Simeon Solenthaler, Gian Stäuble, Cédric Carrel, Flurin Boeni">
    <meta name="keywords" content="NBA, Stats, Digital Business Management">
    <meta name="date" content="21.03.2021">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> <!-- Icons -->
    <link rel="stylesheet" href="../static/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="../static/css0_navigation.css" type="text/css" /> 
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="../static/css3_footer.css" type="text/css"> <!-- CSS File footer-->

    <title>Stattts</title>

</head>

<body>

    <div class="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-warning scrolling-navbar">
            <a class="navbar-brand" href="/"><strong>Statguru</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Page1">Page1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Page2">Page2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Page3">Page3</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/Page4">Page4</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
        
<div class ="wrapper">
    <div class="container_title">
        <h1 class="title_red">STAT GURU</h1>
        <h1 class="title_white">STAT GURU</h1>
    </div>

    <div class="container_diagram">
        
    </div>
</div>

    <footer>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
                <small>Copyright &copy; Statguru</small>
            </div>
    </footer>

</body>

</html>