﻿<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="description" content="NBA Stats" />
	<meta name="author" content=", Simeon Solenthaler, Gian Stäuble, Cédric Carrel, Flurin Boeni" />
	<meta name="keywords" content="NBA, Stats, Digital Business Management" />
	<meta name="date" content="21.03.2021" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css" />

	<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script>
		$("dropdown-content-team a").click(function () {
			let team = $(this).attr('data-name')
            console.log(team)
		});

	</script>

	<title>Stat Guru</title>
</head>

<body>
	<div class="header"></div>
	<div class="wrapper">
		<div class="container_title">
			<h1 id="title">STAT GURU</h1>
		</div>
		<div class="container_diagram">
			<div class="filter-wrapper">
				<div class="filter-player">
					<div class="filter">
						<button class="dropdownbutton">Team</button>
						<div class="dropdown-content-team">
								<a data-name="Atlanta Hawks">Atlanta Hawks</a>
								<a href="#">Boston Celtics</a>
								<a href="#">Brooklyn Nets</a>
								<a href="#">Charlotte Hornets</a>
								<a href="#">Chicago Bulls</a>
								<a href="#">Cleveland Cavaliers</a>
								<a href="#">Dallas Mavericks</a>
								<a href="#">Denver Nuggets</a>
								<a href="#">Detroit Pistons</a>
								<a href="#">Golden State Warriors</a>
								<a href="#">Houston Rockets</a>
								<a href="#">Indiana Pacers</a>
								<a href="#">Los Angeles Clippers</a>
								<a href="#">Los Angeles Lakers</a>
								<a href="#">Memphis Grizzlies</a>
								<a href="#">Miami Heat</a>
								<a href="#">Milwaukee Bucks</a>
								<a href="#">Minnesota Timberwolves</a>
								<a href="#">New Orleans Pelicans</a>
								<a href="#">New York Knicks</a>
								<a href="#">Oklahoma City Thunder</a>
								<a href="#">Orlando Magic</a>
								<a href="#">Philadelphia 76ers</a>
								<a href="#">Phoenix Suns</a>
								<a href="#">Portland Trail Blazers</a>
								<a href="#">Sacramento Kings</a>
								<a href="#">San Antonio Spurs</a>
								<a href="#">Toronto Raptors</a>
								<a href="#">Utah Jazz</a>
								<a href="#">Washington Wizards</a>
						</div>
					</div>
				<div class="filter">
					<button class="dropdownbutton">Position</button>
					<div class="dropdown-content">
						<a href="#">Point Guard</a>
						<a href="#">Shooting Guard</a>
						<a href="#">Small Forward</a>
						<a href="#">Power Forward</a>
						<a href="#">Center</a>
					</div>
				</div>
				<div class="filter">
					<button class="dropdownbutton">Player 1</button>
					<div class="dropdown-content">
						<a href="#">xxxxx</a>
					</div>
				</div>
			</div>
				<div class="filter-player">
					<div class="filter">
						<button class="dropdownbutton">Team</button>
						<div class="dropdown-content-team">
							<a href="#">Atlanta Hawks</a>
							<a href="#">Boston Celtics</a>
							<a href="#">Brooklyn Nets</a>
							<a href="#">Charlotte Hornets</a>
							<a href="#">Chicago Bulls</a>
							<a href="#">Cleveland Cavaliers</a>
							<a href="#">Dallas Mavericks</a>
							<a href="#">Denver Nuggets</a>
							<a href="#">Detroit Pistons</a>
							<a href="#">Golden State Warriors</a>
							<a href="#">Houston Rockets</a>
							<a href="#">Indiana Pacers</a>
							<a href="#">Los Angeles Clippers</a>
							<a href="#">Los Angeles Lakers</a>
							<a href="#">Memphis Grizzlies</a>
							<a href="#">Miami Heat</a>
							<a href="#">Milwaukee Bucks</a>
							<a href="#">Minnesota Timberwolves</a>
							<a href="#">New Orleans Pelicans</a>
							<a href="#">New York Knicks</a>
							<a href="#">Oklahoma City Thunder</a>
							<a href="#">Orlando Magic</a>
							<a href="#">Philadelphia 76ers</a>
							<a href="#">Phoenix Suns</a>
							<a href="#">Portland Trail Blazers</a>
							<a href="#">Sacramento Kings</a>
							<a href="#">San Antonio Spurs</a>
							<a href="#">Toronto Raptors</a>
							<a href="#">Utah Jazz</a>
							<a href="#">Washington Wizards</a>
						</div>
					</div>
					<div class="filter">
						<button class="dropdownbutton">Position</button>
						<div class="dropdown-content">
							<a href="#">Point Guard</a>
							<a href="#">Shooting Guard</a>
							<a href="#">Small Forward</a>
							<a href="#">Power Forward</a>
							<a href="#">Center</a>
						</div>
					</div>
					<div class="filter">
						<button class="dropdownbutton">Player 2</button>
						<div class="dropdown-content">
							<a href="#">xxxxx</a>
						</div>
					</div>
				</div>
			</div>
			<div class="chart">
				<img src="../static/media/screenshot.JPG">
				<!--Google Charts zur Visualisierung der Daten
				<div id="piechart"></div>-->
			</div>
		</div>
		<div class="container-picture">
			<div id="picture"></div>
		</div>
		<div class="wrapper-player">
			<!--<div class="container-picture">
				<div id="picture"></div>
			</div>-->
			<div class="container-player1">
				<div class="picture-player1">
					<p>foti1</p>
				</div>
				<div class="container-details1">
					<div class="container-number-player1">
						<p>nummer1</p>
					</div>
					<div class="container-name-player1">
						<p>{{ test_player_id }}</p>
						<p>Position und Team</p>
					</div>
				</div>
			</div>
			<div class="container-vs">
				<h1>vs</h1>
			</div>
			<div class="container-player2">
				<div class="picture-player2">
					<p>foti2</p>
				</div>
				<div class="container-details2">
					<div class="container-number-player2">
						<p>nummer2</p>
					</div>
					<div class="container-name-player2">
						<p>Name 2</p>
						<p>Position und Team</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		
	</footer>
</body>
</html>