<!DOCTYPE html>
<html lang="ch">

<head>
<!-- Header --> 
  <meta name="keywords" content="Oktofinance, Ok to finance, oktofinance">
  <meta name="author" content = "Cédric Carrel und Simeon Solenthaler">
  <meta name="date" content="29.03.2020">
  <meta name="description" content="Webapplikation von Cédric Carrel und Simeon Solenthaler">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="1000">
  <meta charset="utf-8">

  <link rel="stylesheet" href="static/bootstrap.css"> <!-- Bootstrap  -->
  <link rel="stylesheet" href="static/js/bootstrap.bundle.js"> <!-- Bootstrap -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!-- Schriften -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> <!-- Icons -->
  <link rel="stylesheet" href="static/css0_navigation.css"> <!-- Css für navigation social media bilder -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='brand.png')}}" alt="Oktofinance"/>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary scrolling-navbar">
    <a class="navbar-brand" href="/"><strong>Oktofinance</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent41"
      aria-controls="navbarSupportedContent41" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/budget">Budget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newtransactions">New transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks">Tasks</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><a href="https://www.facebook.com" title="Unsere Facebook Seite" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><a href="https://www.linkedin.com" title="Unsere LinkedIn Seite" target="_blank"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><a href="https://www.instagram.com" title="Unsere Instagram Seite" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>

</body>
</html>
