.wrapper {
    background-color: #253B73;
}

.container_diagram {
    width: 100%;
    height: 550px;
}

.container_title {
    position: relative;
    left: 50px;
}

.title_red {
    font-family: "Helvetica";
    font-size: 100px;
    color: #B52532;
    position: absolute;
    z-index: 2;
  }

.title_white {
    font-family: "Helvetica";
    font-size: 100px;
    color: #ffffff;
    left: 5px;
    top: 5px;
    position: absolute;
    z-index: 3;
  }

  .container_diagram {
      position: relative;
      top: 250px;
      left: 50px;
      width: 90%;
      border-style: solid;
      border-color: #ffffff;
      border-radius: 15px;
  }