body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  background-color: #253B73;
}

.wrapper {
  min-height: 98vh;
  max-width: 98vw;
  display: flex;
  flex-direction: column;
}

.container_title {
  position: relative;
  left: 1vw;
}

#title {
  font-family: "Helvetica";
  font-size: 100px;
  color: #ffffff;
  text-shadow: 6px 6px #B52532;
  margin: 0;
  padding-bottom: 1vh;
}

.container_diagram {
  position: relative;
  left: 1vw;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 15px;
}

.filter-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
}

.filter-player {
  flex: 40vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.dropdownbutton {
  background-color: #B52532;
  color: #ffffff;
  border-color: #ffffff;
  font-family: "Helvetica";
  font-size: 20px;
  width: 200px;
  height: 75px;
  border-radius: 10px;
}

.filter {
  position: relative;
  display: inline-block;
  padding: 1%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  font-family: "Helvetica";
  font-size: 15px;
  text-decoration: none;
  width: 200px;
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: #253B73;
  padding: 12px 16px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}

.filter:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #B52532;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-content-team {
  display: none;
  position: absolute;
  background-color: #ffffff;
  font-family: "Helvetica";
  font-size: 15px;
  text-decoration: none;
  width: 200px;
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content-team a {
  color: #253B73;
  padding: 12px 16px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}

.filter:hover .dropdown-content-team {
  display: block;
}

.dropdown-content-team a:hover {
  background-color: #B52532;
  color: #ffffff;
  text-decoration: none;
}

.container-picture {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#picture {
  flex: 25%;
  height: 600px;
  width: auto;
  margin-left: 60vw;
  background-image: url(../static/media/demar_derozan.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper-player{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 350px;
  font-family: "Helvetica";
}

.container-player1{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 40%;
  order: 1;
  background-color: white;
  font-family: "Helvetica"
}

.picture-player1{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  order: 1;
}

.logo-team1{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  order: 1;
}

.container-details1{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  order: 2;
  background: #253B73;
  color:white;
  font-weight: bold;
}

.container-number-player1{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 20%;
  order: 1;
  font-size: 30px;
}

.container-name-player1{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  order: 2;
  background-color: #1a477b;
  align-content:flex-end;

}

.container-vs{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 20%;
  order: 2;
  background-color: #253B73;
  color: white;
  font-family: "Helvetica";
  align-content: center;
  font-size:30px;
}

.container-player2{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 40%;
  order: 3;
  background-color: white;
}

.picture-player2{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  order: 1;
}

.logo-team2{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  order: 1;
  align-content: flex-end;
}

.container-details2{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  order: 2;
  background-color: #253B73;
  color: white;
  font-weight: bold;
}

.container-number-player2{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 20%;
  order: 2;
  align-content: flex-end;
  font-size: 30px;
}

.container-name-player2{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  order: 1;
  background-color: #1a477b;

}